$primary: #BCA88E;
$primary-hover: #8d7b63;
$disabled: #a0a0a0;
$white: #ffffff;

.buttonWrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  .button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: $white;
    background-color: $primary;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: auto;

    &:hover {
      background-color: $primary-hover;
    }

    &:disabled {
      background-color: $disabled;
      cursor: not-allowed;
    }

  }
}

